# Slack Bot Configuration
SLACK_BOT_TOKEN="xoxb-your-bot-token-here"
SLACK_APP_TOKEN="xapp-your-app-token-here"
SLACK_SIGNING_SECRET="your-signing-secret-here"
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url

GOOGLE_GENERATIVE_AI_API_KEY="sk-your-google-key-here"


# Server Configuration
PORT=3000
NODE_ENV=development